#body-footer {
    font-family: Montserrat, sans-serif;
    margin: 0; /* Loại bỏ margin mặc định của body */
    width: 100%;
}
/* Style cho footer */
footer {
  background-color: #170E80;
  color: white;
  padding: 20px;
}
.p-footer{  
  padding-bottom: 12px;
}
/* Style cho link */
.a-footer {
    color: #fff; /* Màu chữ trắng */
    font-size: 14px; /* Kích thước chữ 14px */
    font-weight: 500; /* Độ đậm của chữ */
    text-decoration: none; /* Loại bỏ gạch chân ở dưới liên kết */
    margin-bottom: 0px; /* Tạo khoảng cách giữa các liên kết */
}
/* Style cho link hover*/
.a-footer:hover {
    color: #948BF9; /* Màu chữ thay đổi khi di chuột qua */
    text-decoration: underline; /* Gạch chân khi di chuột qua */
}
/* Style cho grid layout */
.footer-grid {
  display: grid;
  grid-template-columns: 350px 50px 200px 50px 350px 50px 1fr;
  margin-bottom: 40px;
}
.footer-grid > div{
    padding:0 30px;
    /*border-left: 1px solid #726da0;*/
}
/* Style cho logo */
.logo-footer {
    width: 180px;
    padding-left: 50px;
    padding-top:15px
}
.logo-footer:hover{
  opacity: 0.9;
}

/* Style cho form liên hệ */
.contact-form input{
    height: 45px;
    width: 215px;
    padding: 1px 20px;
    border-radius: 40px 0 0 40px;
    border: #170E80;
}
 /* Style cho nút "gửi" form*/
.contact-form button {
    height: 47px;
    width: 60px;
    padding: 10px;
    border: #170E80;
    border-radius: 0 40px 40px 0;
    background: #8C87C4;
    color:#fff
}
/*style hover cho nút "gửi" form*/
.contact-form button:hover{
    background:#847dcd;
    color:#ead9d9
}
/* Style cho thông tin bản quyền */
.copyright {
    text-align: center;
    padding-top: 15px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
}

@media screen and (max-width: 575px) {
    body{
        width: 100%;
        overflow-x: hidden;
    }

    .footer-grid {
        display: flex;
        flex-direction: column;
    }

    .line {
        display: none; 
    }

    .logo-footer {
        padding: 0;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 20px 30px !important;
    }
}