

*{ box-sizing: border-box;} 
/* kích thước phần tử sẽ gồm cả kích thước của phần viền (border) và độ dày của đường viền (padding)*/

.createproject-body {
    justify-content: center;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth; /* Áp dụng hiệu ứng mượt mà cho toàn bộ trang */
}
  .banggiacolor{
    width:50%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;    
  }
/* Bảng giá */
  .titleproject{
    margin-top: 100px;
    margin-bottom:60px;
    font-size: 45px;
    font-weight: bold;
    text-align:center;
  }
.backicon{
    align-items:left;
    font-size:30px;
    color:#FFFFFF
}
.backicon:hover {
    color:  #948bf9;
}

.backicon-container{
    margin-bottom: -150px;
    width:100%;
    display: inline-block;
  
}
  .createproject-sub-text{
    margin-top:5px;
    /* margin-right: 36px;
    margin-left: 36px; */
    background: rgb(255, 255, 255);
    width:100%;
    text-align:center;
    -webkit-font-smoothing: antialiased; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    color: #170E80;
    font-size: 18px;
    font-weight:bold;
    margin-bottom: 20px;
    border-width: 0;
    padding: 10px 10px 10px 10px;
    border-radius: 0.625rem;
  }
 

/* Xem thêm */
  .readmorebanggia-btn{
    display: inline-block;
    padding: 8px 20px;
    border-radius: 15px;
    background-image: linear-gradient(to left, #FFFFFF, rgba(213, 212, 236, 0.359));
    color: #170E80;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, background-image 0.3s ease;
  }
/* Hover xem thêm */
  .readmorebanggia-btn:hover{
    background-color: #2E1CFF;
    border-style:solid;
    border-color:#FFFFFF;

  }
/*Text Chính sách giá của Virtual Horizons */
  .titlechinhsachgia{
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
  }
  .createproject-title-container{
    display:flex;
    justify-content:center;
  }
  .createproject-title-box{
    background: rgba(255, 255, 255, 0.66);
    width:100%;
    -webkit-font-smoothing: antialiased; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    color: #170E80;
    font-size: 16px;
    font-weight:bold;
    /* margin-bottom: 10px; */
    border-width: 0;
    padding: 30px;
    border-radius: 0.625rem;
    text-align: left;
    justify-content:center;
  }
/* Layout Chính sách giá  */
  .arproject-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
/*Hộp gói dịch vụ*/
  .armarker-box {
     background-image: url(/images/ARMarker.png);
     background-size: cover;
     background-position: center;
     width: 340px;
     height: 530px;
      margin: 15px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 24px;
     
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      transition: background-color 0.3s ease, color 0.3s ease;

  }

  .armarkerless-box {
    background-image: url(/images/ARMarkless.png);
    background-size: cover;
    background-position: center;
    width: 340px;
    height: 530px;
     margin: 15px;
     padding-left: 25px;
     padding-right: 25px;
     padding-top: 10px;
     padding-bottom: 10px;
     border-radius: 24px;
    
     overflow: hidden;
     position: relative;
     display: flex;
     flex-direction: column;
     transition: background-color 0.3s ease, color 0.3s ease;

 }

 .arfilter-box {
    background-image: url(/images/ARFilter.png);
    background-size: cover;
    background-position: center;
     width: 340px;
     height: 530px;
     margin: 15px;
     padding-left: 25px;
     padding-right: 25px;
     padding-top: 10px;
     padding-bottom: 10px;
     border-radius: 24px;
    
     overflow: hidden;
     position: relative;
     display: flex;
     flex-direction: column;
     transition: background-color 0.3s ease, color 0.3s ease;

 }
/*Nội dung gói*/
  .pricing-box-content{
      color: #252430;
      text-align: left;
      flex-direction: column;

  }
  .arbox-subtitle{
    margin-top: -10px;
    color:#170E80;
    font-size:18px;
    font-weight:600;
  }
/*List nội dung gói*/
  .pricing-box-content ul {
    margin-top: 15px;
    margin-bottom:190px;
    list-style-type: none;
    padding-left: 25px;
  }
/*Khoảng cách giữa các list*/
  .pricing-box-content li {
    margin-bottom: 15px; /* Khoảng cách giữa các dòng */
    position: relative;
  }
/*List dấu tick*/
  .pricing-box-content li::before {
      content: '\2713'; /* Dấu tick Unicode */
      margin-right: 5px;
      color: #2E1CFF;  
      position: relative;
      font-weight: bold; /* Đậm hơn */
  }
/*List dấu x*/
  .pricing-box-content li.negative::before {
      content: '\2717'; /* Dấu X Unicode */
      color: #00000052; 
      font-weight: bold; /* Đậm hơn */
  }
/*Test chính hộp gói dịch vụ*/
  .maintextar-box{
      text-align:center;
      font-size:26px;
      color: #fff;
      font-weight:bold;
      margin-top:9px;
  }
  .arbox-maintitle{
    margin-top: 5px;
    color:#2E1CFF;
    text-align: center;
    font-size: 27px;

  }

/*Animation xuất hiện từ trên xuống*/
  .animate__animated.animate__backInDown {
  --animate-duration: 1000ms;
  --animate-delay: 1.2s
}
/*Animation xuất hiện từ dưới lên*/
  .animate__animated.animate__fadeInUp{
  --animate-duration: 1500ms;
  --animate-delay: 1s 
/*Khoảng cách của Bảng so với phần phía trên*/  
}

  .table_container{
    margin-top: 70px;
  }
 

.form-row-last{
	margin-top:30px;
	display: flex;
	justify-content: center;
}
.create {
    background: linear-gradient(60deg,
            rgba(46, 28, 255, 0.975) 30%,
            rgba(24, 16, 89, 1) 100%);

	border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	width: 100%;
	border: none;
    padding: 8px 4px;
   
	/* margin: 20px 0 50px 0px; */
	cursor: pointer;
	font-family: Montserrat, sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 25px;
	transition: box-shadow 0.3s ease; 
	
}
.create:hover {
	background:linear-gradient(60deg,
	rgba(255, 255, 255, 0.975) 30%,
	rgb(196, 234, 255) 100%);
	color: #2E1CFF;
	box-shadow: 0 0 10px rgba(45, 11, 211, 0.2);
	/* border: 2px solid #2E1CFF; */
}
/* Form style */
.form-row-inner input[type=text] {
    width: 100%;
    padding: 8px;
    /* margin: 2px 0; */
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
  }
.form-row-inner input[type=text]:focus {
    width: 100%;
    padding: 8px;
    /* margin: 2px 0; */
    display: inline-block;
    outline: none;
    border-bottom: 1px solid #2E1CFF;
	background: transparent;
    box-sizing: border-box;
    color:#170E80
  }
.form-row-inner textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
}
.form-row-inner textarea:focus {
    outline: none;
    border: 1px solid #2E1CFF;

}

.link-project-container {
    /* position: relative; */
    display: flex;
    justify-content: space-between;

}


.icon-copy-container{
    font-size: 30px;
    margin-right: 10px;
    color: #170E80;
    cursor:pointer;
    background-color:#fff
  
}
.icon-copy-container:hover{
    color: #948bf9;

}
.pjlink{
    font-weight: normal;
    margin-left:10px;
    margin-top: 8px;
    color:#2E1CFF;
    font-style: italic;
    
  }
  /* input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049; 
  
 }
  /* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */



/* UPLOAD FILE */
.upload-body{
    margin-top:10px;
    margin-bottom:10px;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
  }
  .container{
    /* height: 350px;
    width: 500px; */
    position: relative;
    width:70%;
  
  }
  .container .wrapper{
    position: relative;
    height: 300px;
    width: auto;
    border-radius: 10px;
    background: #fff;
    border: none;
    /* border: 2px dashed #c2cdda; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .wrapper.active{
    border: none;
  }
  .wrapper .image{
    position: absolute;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .image-3d-file{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .wrapper .icon{
    font-size: 100px;
    color: #2E1CFF;
  }
  .text-title{
    font-size: 20px;
    font-weight: 700;
    color: #170E80;
  }
  .text-subtitle{
    margin-top:5px;
    font-size: 18px;
    font-weight: normal;
    color: #170E80;
  }

  .text-description{
    font-weight:normal;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 20px;

  }
  .wrapper .cancel-btn i{
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #9658fe;
    cursor: pointer;
    display: none;
  }
  .wrapper.active:hover .cancel-btn i{
    display: block;
  }
  .wrapper .cancel-btn i:hover{
    color: #e74c3c;
  }
  .wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: #fff;
    display: none;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
  }
  .wrapper.active:hover .file-name{
    display: block;
  }
  .container .custom-btn{
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    /* text-transform: uppercase; */
    cursor: pointer;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
  }

.form-row-last{
	margin-top:20px;
	display: flex;
	justify-content: center;
    padding: 11px;
	align-items: center;
}
.register {
    background: linear-gradient(60deg,
            rgba(46, 28, 255, 0.975) 30%,
            rgba(24, 16, 89, 1) 100%);

	border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	width: 200px;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	font-family: Montserrat, sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 25px;
	transition: box-shadow 0.3s ease; 
	
}
.register:hover {
	background:linear-gradient(60deg,
	rgba(255, 255, 255, 0.975) 30%,
	rgb(196, 234, 255) 100%);
	color: #2E1CFF;
	box-shadow: 0 0 10px rgba(45, 11, 211, 0.2);
	/* border: 2px solid #2E1CFF; */
}
@media screen and (max-width: 1200px) {
	.banggiacolor{
        width:75%;
}
}

@media screen and (max-width: 991px) {
	.banggiacolor{
        width:80%;
}
}
@media screen and (max-width: 768px) {
	.banggiacolor{
        width:85%;
}
}
@media screen and (max-width: 575px) {
	.banggiacolor{
        width:90%;
	}
  .upload-body{
        
        height: 100%;
       
      }
      /* .createproject-sub-text{
        padding: 20px 20px 20px 20px;
      } */
  .fa-cloud-upload-alt{
        font-size: 60px;
        color: #2E1CFF;}
  .text-title{
        font-size: 16px;
        font-weight: 700;
        color: #170E80;
        }
  .text-subtitle{
        margin-top:5px;
        font-size: 12px;
        font-weight: normal;
        color: #170E80;
        }
      
  .text-description{
        font-size: 13px;
        margin-bottom: 20px;
        }
  .container .custom-btn{
          margin-top: 10px;
          display: block;
          width: 100%;
          height: 50px;
          border: none;
          outline: none;
          border-radius: 25px;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1px;
          font-family: 'Montserrat', sans-serif;
          /* text-transform: uppercase; */
          cursor: pointer;
          background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
        }
  .container .wrapper{
          position: relative;
          height: 200px;
          width: auto;
          border-radius: 10px;
          background: #fff;
          border: none;
          /* border: 2px dashed #c2cdda; */
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
        }
  .register {
          background: linear-gradient(60deg,
                  rgba(46, 28, 255, 0.975) 30%,
                  rgba(24, 16, 89, 1) 100%);
      
        border-radius: 20px;
        -o-border-radius: 20px;
        -ms-border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        width: 200px;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        font-family: Montserrat, sans-serif;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        transition: box-shadow 0.3s ease; 
        
      }
    .titleproject{
        margin-top: 130px;
        margin-bottom:30px;
        font-size: 35px;
        font-weight: bold;
        text-align:center;
      }
    .backicon{
        align-items:left;
        font-size:30px;
        color:#FFFFFF
    }
    .backicon:hover {
        color:  #948bf9;
    }
    
    .backicon-container{
        margin-bottom: -160px;
        /* width:100%; */
        display: inline-block;
      
    }
}
